@page
@model Sports_Team01.Pages.ColtsArchiveModel
@{
    ViewData["Title"] = "ColtsArchive";
}

<body style="background-color: #002C5F">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Colts"><img src="~/images/Logos/Colts_Logo_Transparent.png" height="150" width="150" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-colts" asp-area="" asp-page="/ColtsLive">Live</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-colts" asp-area="" asp-page="/ColtsArchive">Archive</a>
                        </li>
                        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.facebook.com/colts/">
                                        <img src="~/images/Social Media/Facebook_Logo_Transparent.png" width="50" height="50" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.instagram.com/colts/?hl=en">
                                        <img src="~/images/Social Media/Instagram_Logo_Transparent.png" width="50" height="50" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://twitter.com/Colts?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                                        <img src="~/images/Social Media/Twitter_Logo_Transparent.png" width="50" height="50" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://shop.colts.com/">

                                        <img src="~/images/Social Media/Colts_Shop_Transparent.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1 style="color:white">Colts Archive</h1>
    <br />
    <div>
        <h3 style="color:white">2007 Superbowl Colts vs Bears</h3>
        <iframe width="1280" height="720" src="//ok.ru/videoembed/1383805684260" frameborder="0" allow="autoplay" allowfullscreen></iframe>
        <br />
        <h3 style="color:white">NFL Classic Divisional Round 2014 Colts VS Broncos</h3>
        <iframe width="1280" height="720" src="//ok.ru/videoembed/1380864625188" frameborder="0" allow="autoplay" allowfullscreen></iframe>
        <br />
        <h3 style="color:white">Week 15 2019 Colts VS Chiefs</h3>
        <iframe width="1280" height="720" src="//ok.ru/videoembed/1163690117668" frameborder="0" allow="autoplay" allowfullscreen></iframe>
    </div>
</body>