@page
@model Sports_Team01.Pages.IMSArchiveModel
@{
    ViewData["Title"] = "IMSArchive";
}

<body style="background-color:darkgoldenrod">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/IMS"><img src="~/images/Logos/IMS_Logo_Transparent.png" height="150" width="225" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="btn btn-IMS" asp-area="" asp-page="/IMSLive">Live</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-IMS" asp-area="" asp-page="/IMSArchive">Archive</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-IMS" href="https://www.indianapolismotorspeedway.com/news-multimedia/news">News</a>
                        </li>
                        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.facebook.com/IndianapolisMotorSpeedway/">
                                        <img src="~/images/Social Media/Facebook_Logo_Transparent.png" width="50" height="50" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://www.instagram.com/indianapolismotorspeedway/?hl=en">
                                        <img src="~/images/Social Media/Instagram_Logo_Transparent.png" width="50" height="50" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://twitter.com/IMS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                                        <img src="~/images/Social Media/Twitter_Logo_Transparent.png" width="50" height="50" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="https://shop.ims.com/">
                                        <img src="~/images/Social Media/IMS_Shop_Transparent.png" width="200" height="50"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <h1>IMS Archive</h1>
    <br />
    <div>
        <h3>2018 Indianaplois 500</h3>
        <a class="navbar-brand" asp-area="" asp-page="/Indy2018"><img src="~/images/IMS/2018.jpg" height="600" width="600" /> </a>
        <br />
        <h3>2006 Indianaplois 500</h3>
        <a class="navbar-brand" asp-area="" asp-page="/Indy2006"><img src="~/images/IMS/2006.png" height="600" width="600" /> </a>
    </div>
</body>