@page
@model Sports_Team01.Pages.Indy2018Model
@{
    ViewData["Title"] = "Indy2018";
}

    <body style="background-color:darkgoldenrod">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/IMS"><img src="~/images/Logos/IMS_Logo_Transparent.png" height="150" width="225" /> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="btn btn-IMS" asp-area="" asp-page="/IMSLive">Live</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-IMS" asp-area="" asp-page="/IMSArchive">Archive</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-IMS" href="https://www.indianapolismotorspeedway.com/news-multimedia/news">News</a>
                                </li>
                                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://www.facebook.com/IndianapolisMotorSpeedway/">
                                                <img src="~/images/Social Media/Facebook_Logo_Transparent.png" width="50" height="50" />
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://www.instagram.com/indianapolismotorspeedway/?hl=en">
                                                <img src="~/images/Social Media/Instagram_Logo_Transparent.png" width="50" height="50" />
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://twitter.com/IMS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                                                <img src="~/images/Social Media/Twitter_Logo_Transparent.png" width="50" height="50" />
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="https://shop.ims.com/">
                                                <img src="~/images/Social Media/IMS_Shop_Transparent.png" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <h1>2018 Indianaplois 500</h1>

            <div class="row">
                <iframe width="550" height="300" src="https://www.youtube.com/embed/iWqrvfCJaCI"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                picture-in-picture" allowfullscreen>
                </iframe>

                <!--testing base chat-->
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-3"><label style="font-weight:bold">User</label></div>
                            <div class="col-4"><input type="text" id="userInput" value=@ViewData["User"] /></div>
                        </div>
                        <div class="row">
                            <div class="col-3"><label style="font-weight:bold">Message</label></div>
                            <div class="col-4"><input type="text" id="messageInput" /></div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-6">
                                <input class="btn-IMS" type="button" id="sendButton" value="Send Message" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <hr style="color:white" />
                    </div>
                </div>
                <div class="jumbotron" style="background-color: #A2AAAD">
                    <h5>Messages:</h5>
                    <div class="row">
                        <div class="col-6">
                            <ul id="messagesList"></ul>
                        </div>
                    </div>
                    <script src="~/js/signalr/dist/browser/signalr.js"></script>
                    <script src="~/js/chat.js"></script>
                </div>
            </div>
        </body>
