@page
@model Sports_Team01.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}

    <body style="background-color:black;">
        <h1 style="color:white;">Welcome to the club.</h1>
        <h2 style="color:white;">Enter your information below.</h2>
        <hr />
         <div class="row">
                <div class="radio">
                    <input  id="radEmployee" type="radio" value="Employee" />
                    <label for="radEmployee" style="color:white;">Basic Membership - $19.99/Mo</label>
                </div>
                <div class="radio">
                    <input  id="radCustomer" type="radio" value="Customer" />
                    <label for="radCustomer" style="color:white;">Pro Membership - $35.99/Mo</label>
                </div>
            </div>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">First Name</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Last Name</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Middle Initial</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Address</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">City</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">State</label>

                        <select class="form-control cus-ddl">
                            <option label="Select a option"></option>
                            <option Value="AL">Alabama</option>
                            <option Value="AK">Alaska</option>
                            <option Value="AZ">Arizona</option>
                            <option Value="AR">Arkansas</option>
                            <option Value="CA">California</option>
                            <option Value="CO">Colorado</option>
                            <option Value="CT">Connecticut</option>
                            <option Value="DC">District of Columbia</option>
                            <option Value="DE">Delaware</option>
                            <option Value="FL">Florida</option>
                            <option Value="GA">Georgia</option>
                            <option Value="HI">Hawaii</option>
                            <option Value="ID">Idaho</option>
                            <option Value="IL">Illinois</option>
                            <option Value="IN">Indiana</option>
                            <option Value="IA">Iowa</option>
                            <option Value="KS">Kansas</option>
                            <option Value="KY">Kentucky</option>
                            <option Value="LA">Louisiana</option>
                            <option Value="ME">Maine</option>
                            <option Value="MD">Maryland</option>
                            <option Value="MA">Massachusetts</option>
                            <option Value="MI">Michigan</option>
                            <option Value="MN">Minnesota</option>
                            <option Value="MS">Mississippi</option>
                            <option Value="MO">Missouri</option>
                            <option Value="MT">Montana</option>
                            <option Value="NE">Nebraska</option>
                            <option Value="NV">Nevada</option>
                            <option Value="NH">New Hampshire</option>
                            <option Value="NJ">New Jersey</option>
                            <option Value="NM">New Mexico</option>
                            <option Value="NY">New York</option>
                            <option Value="NC">North Carolina</option>
                            <option Value="ND">North Dakota</option>
                            <option Value="OH">Ohio</option>
                            <option Value="OK">Oklahoma</option>
                            <option Value="OR">Oregon</option>
                            <option Value="PA">Pennsylvania</option>
                            <option Value="RI">Rhode Island</option>
                            <option Value="SC">South Carolina</option>
                            <option Value="SD">South Dakota</option>
                            <option Value="TN">Tennessee</option>
                            <option Value="TX">Texas</option>
                            <option Value="UT">Utah</option>
                            <option Value="VT">Vermont</option>
                            <option Value="VA">Virginia</option>
                            <option Value="WA">Washington</option>
                            <option Value="WV">West Virginia</option>
                            <option Value="WI">Wisconsin</option>
                            <option Value="WY">Wyoming</option>
                        </select>
                        <span class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Zip Code</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Phone</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Email Address</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:white; font-weight:bold">Password</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn-primary" style="vertical-align:middle"><span>Create</span></button>
                        <a asp-page="HomeNotLoggedIn" class="btn btn-cancel" style="color:white; vertical-align:middle"><span>Cancel</span></a>
                    </div>
                </form>
            </div>
        </div>
    </body>